a{
  text-decoration: none;
  padding: 0;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

button{
  border: none;
  padding: 0;
}

ul{
  list-style: none;
  padding: 0;
}

body{
  font-family: "Merriweather", sans-serif;
}